<div>
  <% if list_item.completed? %>
    <div style="opacity: 0.5;"><strike><%= list_item.content %></strike></div>

      <%= link_to "Remove", list_list_item_path(@list, list_item.id), method: :delete, data: { confirm:"Really Delete?" } %>
    </div>
    <% else %>
      
    <div>
      <p><%= list_item.content %></p>
    </div>
   
  
      <%= link_to "Mark Done", complete_list_list_item_path(@list, list_item.id), method: :patch %>
    
   
   
      <%= link_to "Remove", list_list_item_path(@list, list_item.id), method: :delete, data: { confirm:"Really Delete?" } %>
    
    <% end %>
</div>
<hr />